-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: learning_space
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `favorits`
--

DROP TABLE IF EXISTS `favorits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favorits` (
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `userId` int(11) NOT NULL,
  `kelasId` int(11) NOT NULL,
  PRIMARY KEY (`userId`,`kelasId`),
  KEY `kelasId` (`kelasId`),
  CONSTRAINT `favorits_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `favorits_ibfk_2` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorits`
--

LOCK TABLES `favorits` WRITE;
/*!40000 ALTER TABLE `favorits` DISABLE KEYS */;
INSERT INTO `favorits` VALUES ('2026-06-23 17:36:40','2026-06-23 17:36:40',1,1);
/*!40000 ALTER TABLE `favorits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `kategori` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `layanans`
--

DROP TABLE IF EXISTS `layanans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `layanans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `gambar` varchar(255) DEFAULT NULL,
  `tampil` tinyint(1) DEFAULT 1,
  `urutan` int(11) DEFAULT 0,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `layanans`
--

LOCK TABLES `layanans` WRITE;
/*!40000 ALTER TABLE `layanans` DISABLE KEYS */;
/*!40000 ALTER TABLE `layanans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materis`
--

DROP TABLE IF EXISTS `materis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) NOT NULL,
  `deskripsiSingkat` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `videoUrl` varchar(255) DEFAULT NULL,
  `videoJudul` varchar(255) DEFAULT NULL,
  `jurnalJudul` varchar(255) DEFAULT NULL,
  `jurnalUrl` varchar(255) DEFAULT NULL,
  `ilustrasi` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `kelasId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelasId` (`kelasId`),
  CONSTRAINT `materis_ibfk_1` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_10` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_11` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_12` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_13` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_14` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_15` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_16` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_17` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_18` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_19` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_2` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_20` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_21` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_22` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_23` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_24` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_25` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_26` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_27` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_28` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_29` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_3` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_30` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_31` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_32` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_33` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_34` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_35` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_36` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_37` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_38` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_39` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_4` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_40` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_41` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_42` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_43` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_44` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_45` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_46` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_47` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_48` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_49` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_5` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_50` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_51` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_52` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_53` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_54` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_55` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_56` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_57` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_58` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_59` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_6` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_60` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_61` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_62` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_63` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_7` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_8` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materis_ibfk_9` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materis`
--

LOCK TABLES `materis` WRITE;
/*!40000 ALTER TABLE `materis` DISABLE KEYS */;
/*!40000 ALTER TABLE `materis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiselesais`
--

DROP TABLE IF EXISTS `materiselesais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materiselesais` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `selesaiPada` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `userId` int(11) DEFAULT NULL,
  `materiId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `materi_selesais_user_id_materi_id` (`userId`,`materiId`),
  KEY `materiId` (`materiId`),
  CONSTRAINT `materiselesais_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_10` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_100` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_101` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_102` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_103` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_104` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_105` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_106` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_107` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_108` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_109` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_11` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_110` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_111` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_112` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_113` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_114` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_115` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_116` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_117` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_118` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_119` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_12` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_120` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_121` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_122` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_123` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_124` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_125` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_126` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_13` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_14` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_15` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_16` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_17` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_18` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_19` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_2` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_20` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_21` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_22` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_23` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_24` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_25` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_26` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_27` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_28` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_29` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_3` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_30` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_31` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_32` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_33` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_34` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_35` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_36` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_37` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_38` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_39` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_4` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_40` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_41` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_42` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_43` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_44` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_45` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_46` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_47` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_48` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_49` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_5` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_50` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_51` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_52` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_53` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_54` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_55` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_56` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_57` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_58` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_59` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_6` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_60` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_61` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_62` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_63` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_64` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_65` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_66` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_67` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_68` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_69` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_7` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_70` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_71` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_72` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_73` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_74` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_75` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_76` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_77` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_78` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_79` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_8` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_80` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_81` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_82` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_83` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_84` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_85` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_86` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_87` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_88` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_89` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_9` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_90` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_91` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_92` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_93` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_94` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_95` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_96` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_97` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_98` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `materiselesais_ibfk_99` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiselesais`
--

LOCK TABLES `materiselesais` WRITE;
/*!40000 ALTER TABLE `materiselesais` DISABLE KEYS */;
INSERT INTO `materiselesais` VALUES (1,'2026-07-02 07:12:09','2026-07-02 07:12:09','2026-07-02 07:12:09',NULL,9);
/*!40000 ALTER TABLE `materiselesais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otpverifications`
--

DROP TABLE IF EXISTS `otpverifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otpverifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `otpCode` varchar(6) NOT NULL,
  `otpExpiresAt` datetime NOT NULL,
  `lastSentAt` datetime DEFAULT NULL COMMENT 'Waktu terakhir OTP dikirim, dipakai untuk cooldown resend (min 60 detik)',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otpverifications`
--

LOCK TABLES `otpverifications` WRITE;
/*!40000 ALTER TABLE `otpverifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `otpverifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passwordresetotps`
--

DROP TABLE IF EXISTS `passwordresetotps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `passwordresetotps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `otpCode` varchar(6) NOT NULL,
  `otpExpiresAt` datetime NOT NULL,
  `lastSentAt` datetime DEFAULT NULL COMMENT 'Waktu terakhir OTP dikirim, dipakai untuk cooldown resend (min 60 detik)',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passwordresetotps`
--

LOCK TABLES `passwordresetotps` WRITE;
/*!40000 ALTER TABLE `passwordresetotps` DISABLE KEYS */;
/*!40000 ALTER TABLE `passwordresetotps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reminders`
--

DROP TABLE IF EXISTS `reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reminders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) NOT NULL,
  `kategori` varchar(255) DEFAULT NULL,
  `tanggal` date NOT NULL,
  `jam` varchar(255) NOT NULL,
  `notifBefore` varchar(255) DEFAULT '30 Menit Sebelumnya',
  `notifActive` tinyint(1) DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `userId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `reminders_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reminders`
--

LOCK TABLES `reminders` WRITE;
/*!40000 ALTER TABLE `reminders` DISABLE KEYS */;
INSERT INTO `reminders` VALUES (2,'Kimia - Struktur Atom','Belajar Materi','2026-07-20','20:00','30 Menit Sebelumnya',1,'2026-07-18 12:36:12','2026-07-18 12:36:12',NULL);
/*!40000 ALTER TABLE `reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayatbelajars`
--

DROP TABLE IF EXISTS `riwayatbelajars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayatbelajars` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jenis` varchar(255) DEFAULT NULL,
  `waktuAkses` datetime DEFAULT NULL,
  `materiId` int(11) DEFAULT NULL,
  `zoomMeetingId` int(11) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `userId` int(11) DEFAULT NULL,
  `durasiDetik` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `materiId` (`materiId`),
  KEY `zoomMeetingId` (`zoomMeetingId`),
  KEY `userId` (`userId`),
  CONSTRAINT `riwayatbelajars_ibfk_1` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_10` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_100` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_101` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_102` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_103` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_104` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_105` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_106` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_107` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_108` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_109` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_11` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_110` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_111` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_112` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_113` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_114` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_115` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_116` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_117` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_118` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_119` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_12` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_120` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_121` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_122` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_123` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_124` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_125` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_126` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_127` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_128` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_129` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_13` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_130` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_131` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_132` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_133` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_134` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_135` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_136` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_137` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_138` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_139` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_14` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_140` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_141` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_142` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_143` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_144` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_145` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_146` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_147` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_148` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_149` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_15` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_150` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_151` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_152` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_153` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_154` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_155` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_156` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_157` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_158` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_159` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_16` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_160` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_161` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_162` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_163` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_164` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_165` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_166` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_167` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_168` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_169` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_17` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_170` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_171` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_172` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_173` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_174` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_175` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_176` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_177` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_178` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_179` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_18` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_180` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_181` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_182` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_183` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_184` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_185` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_186` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_187` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_188` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_189` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_19` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_2` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_20` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_21` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_22` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_23` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_24` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_25` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_26` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_27` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_28` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_29` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_3` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_30` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_31` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_32` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_33` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_34` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_35` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_36` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_37` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_38` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_39` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_4` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_40` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_41` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_42` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_43` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_44` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_45` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_46` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_47` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_48` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_49` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_5` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_50` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_51` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_52` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_53` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_54` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_55` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_56` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_57` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_58` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_59` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_6` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_60` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_61` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_62` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_63` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_64` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_65` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_66` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_67` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_68` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_69` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_7` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_70` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_71` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_72` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_73` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_74` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_75` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_76` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_77` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_78` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_79` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_8` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_80` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_81` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_82` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_83` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_84` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_85` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_86` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_87` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_88` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_89` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_9` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_90` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_91` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_92` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_93` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_94` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_95` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_96` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_97` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_98` FOREIGN KEY (`zoomMeetingId`) REFERENCES `zoommeetings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `riwayatbelajars_ibfk_99` FOREIGN KEY (`materiId`) REFERENCES `materis` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayatbelajars`
--

LOCK TABLES `riwayatbelajars` WRITE;
/*!40000 ALTER TABLE `riwayatbelajars` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayatbelajars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testimonis`
--

DROP TABLE IF EXISTS `testimonis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testimonis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `role` varchar(255) DEFAULT NULL,
  `isi` text NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `tampil` tinyint(1) DEFAULT 1,
  `urutan` int(11) DEFAULT 0,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testimonis`
--

LOCK TABLES `testimonis` WRITE;
/*!40000 ALTER TABLE `testimonis` DISABLE KEYS */;
/*!40000 ALTER TABLE `testimonis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `kelamin` varchar(255) DEFAULT NULL,
  `tglLahir` varchar(255) DEFAULT NULL,
  `kota` varchar(255) DEFAULT NULL,
  `role` enum('user','admin') NOT NULL DEFAULT 'user',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `otp_code` varchar(255) DEFAULT NULL,
  `otp_expired_at` datetime DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `tgl_lahir` varchar(255) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `isBanned` tinyint(1) NOT NULL DEFAULT 0,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`),
  UNIQUE KEY `email_3` (`email`),
  UNIQUE KEY `email_4` (`email`),
  UNIQUE KEY `email_5` (`email`),
  UNIQUE KEY `email_6` (`email`),
  UNIQUE KEY `email_7` (`email`),
  UNIQUE KEY `email_8` (`email`),
  UNIQUE KEY `email_9` (`email`),
  UNIQUE KEY `email_10` (`email`),
  UNIQUE KEY `email_11` (`email`),
  UNIQUE KEY `email_12` (`email`),
  UNIQUE KEY `email_13` (`email`),
  UNIQUE KEY `email_14` (`email`),
  UNIQUE KEY `email_15` (`email`),
  UNIQUE KEY `email_16` (`email`),
  UNIQUE KEY `email_17` (`email`),
  UNIQUE KEY `email_18` (`email`),
  UNIQUE KEY `email_19` (`email`),
  UNIQUE KEY `email_20` (`email`),
  UNIQUE KEY `email_21` (`email`),
  UNIQUE KEY `email_22` (`email`),
  UNIQUE KEY `email_23` (`email`),
  UNIQUE KEY `email_24` (`email`),
  UNIQUE KEY `email_25` (`email`),
  UNIQUE KEY `email_26` (`email`),
  UNIQUE KEY `email_27` (`email`),
  UNIQUE KEY `email_28` (`email`),
  UNIQUE KEY `email_29` (`email`),
  UNIQUE KEY `email_30` (`email`),
  UNIQUE KEY `email_31` (`email`),
  UNIQUE KEY `email_32` (`email`),
  UNIQUE KEY `email_33` (`email`),
  UNIQUE KEY `email_34` (`email`),
  UNIQUE KEY `email_35` (`email`),
  UNIQUE KEY `email_36` (`email`),
  UNIQUE KEY `email_37` (`email`),
  UNIQUE KEY `email_38` (`email`),
  UNIQUE KEY `email_39` (`email`),
  UNIQUE KEY `email_40` (`email`),
  UNIQUE KEY `email_41` (`email`),
  UNIQUE KEY `email_42` (`email`),
  UNIQUE KEY `email_43` (`email`),
  UNIQUE KEY `email_44` (`email`),
  UNIQUE KEY `email_45` (`email`),
  UNIQUE KEY `email_46` (`email`),
  UNIQUE KEY `email_47` (`email`),
  UNIQUE KEY `email_48` (`email`),
  UNIQUE KEY `email_49` (`email`),
  UNIQUE KEY `email_50` (`email`),
  UNIQUE KEY `email_51` (`email`),
  UNIQUE KEY `email_52` (`email`),
  UNIQUE KEY `email_53` (`email`),
  UNIQUE KEY `email_54` (`email`),
  UNIQUE KEY `email_55` (`email`),
  UNIQUE KEY `email_56` (`email`),
  UNIQUE KEY `email_57` (`email`),
  UNIQUE KEY `email_58` (`email`),
  UNIQUE KEY `email_59` (`email`),
  UNIQUE KEY `email_60` (`email`),
  UNIQUE KEY `email_61` (`email`),
  UNIQUE KEY `email_62` (`email`),
  UNIQUE KEY `email_63` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zoommeetings`
--

DROP TABLE IF EXISTS `zoommeetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `zoommeetings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `link` varchar(255) NOT NULL,
  `waktu` datetime NOT NULL,
  `judulMateri` varchar(255) DEFAULT NULL,
  `tanggalTeks` varchar(255) DEFAULT NULL,
  `jamTeks` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `kelasId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelasId` (`kelasId`),
  CONSTRAINT `zoommeetings_ibfk_1` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_10` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_11` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_12` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_13` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_14` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_15` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_16` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_17` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_18` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_19` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_2` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_20` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_21` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_22` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_23` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_24` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_25` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_26` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_27` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_28` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_29` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_3` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_30` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_31` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_32` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_33` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_34` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_35` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_36` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_37` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_38` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_39` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_4` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_40` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_41` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_42` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_43` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_44` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_45` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_46` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_47` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_48` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_49` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_5` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_50` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_51` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_52` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_53` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_54` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_55` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_56` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_57` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_58` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_59` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_6` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_60` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_61` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_62` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_63` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_7` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_8` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `zoommeetings_ibfk_9` FOREIGN KEY (`kelasId`) REFERENCES `kelas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zoommeetings`
--

LOCK TABLES `zoommeetings` WRITE;
/*!40000 ALTER TABLE `zoommeetings` DISABLE KEYS */;
/*!40000 ALTER TABLE `zoommeetings` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-15 19:50:10
